* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 1.5 rem;
}

h1 {
  font-size: 6 rem;
}

.app {
  width: 100%;
  position: relative;
  color: white;
}

.app::before {
  content: "";
  background: url(../assets/pozadina1.jpg) repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 110%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 90%;
  height: 600px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bold {
  font-weight: bold;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

::placeholder {
  color: white;
}

.forecast {
  width: fit-content;
  background-color: white;
  padding: 10px;
  display: flex;
  margin: 10px;
  border-radius: 10px;
  position: relative;
}

.block {
  display: inline-block;
  margin: 10px;
}

.containter2 {
  float: left;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
}

.min {
  color: rgb(136, 133, 133);
  position: absolute;
  bottom: 2px;
  left: 2px;
}

.max {
  color: black;
  position: absolute;
  bottom: 2px;
  left: 70px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.day {
  color: black;
}
